.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.content * {
  padding: 5px;
  margin: 5px;
}

.button {
  background-color: #ff8000;
  border-radius: 5px;
  color: white;
  padding: 0.5em;
  text-decoration: none;
}

.isNext {
  background-color: #ff8000;
}

.button:focus,
.button:hover {
  background-color: FireBrick;
  color: White;
}

/* Disk Properties */

.disk {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  margin-left: 10%;
  margin-top: 10%;
}

.white-disk {
  background: #eee;
  border: 1px solid #111;
}

.black-disk {
  background: #111;
}

/* Square Classes */

.square {
  background: #ff8000;
  border: 1px solid #111;
  float: left;
  line-height: 34px;
  height: 40px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 40px;
  border-radius: 0;
  max-width: 12.5%;
}

.board {
  margin-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.board-row {
  flex-flow: row nowrap;
}
